.next:hover {
	cursor:pointer;
}
.previous:hover {
	cursor:pointer;
}
.dropdown_cmgcustom li {
	 background-color: gray;
}

.dropdown_cmgcustom li:hover {
	 background-color: gray;
}
.galleryImages{
	max-width: 200px;
	max-height: 200px;
}