{% extends 'foow/newmaster.html' %}
    {% load static %}

{% block title %}
	{{ album.album_name }}
{% endblock %}



{% block stylesheets %}
<link rel="stylesheet" href="{% static "/foow/css/nopager.css" %}" type="text/css" />
{% endblock %}

{% block PageHeading %} 
	{{ album.album_name }} 
{% endblock %}
{% block PageSubHeading %}Photo Album{% endblock %}

{% block banner %}url('{% static "/foow/img/home-bg.jpg" %}'){% endblock %}


{% block content %}
	{% if pictures%}
	<div class="row">
		{% for picture in pictures%}
			{% if forloop.counter0|divisibleby:3 %}
			</div>
			<div class="row">
			{% endif %}
			<div class="col-s-6 col-sm-4" style="text-align:center; font-size: small; padding: 10px">
					<a />
					<img src="/media/{{ picture.picture }}" class="galleryImages" style="max-height:200px; max-width:200px;" id="img{{picture.picture_id}}" alt="{{ picture.picture_id }} thumbnail" />
					</a>
			</div>
		{% endfor %}
	</div>
	<ul id="picIDList" hidden>
		{% for picture in pictures%}
		<li id="pic{{picture.picture_id}}">{{picture.picture}}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if user.is_superuser %}
		<a id="btnAddPictures" class="btn btn-default" href="/addpictures/{{album.album_id}}">Add Pictures</a>
	{% endif %}
	<!-- Modal -->
	  <div class="modal fade" id="picModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">{{album.album_name}}</h4>
	        </div>
	        <div class="modal-body">
	        	<img id="modalImage" src="" alt="" class="img-responsive" />
	          	<span id="modalText"></span>
	          <div id="modalNav" style="padding: 10px; height: 60px">
	          <div id="modalNavPrev" style="float: left;">
	          	<button type="button" class="btn btn-default" id="previousPic" >Previous</button>
	          </div>
	          <div id="modalNavNext" style="float: right;">
	          	<button type="button" class="btn btn-default" id="nextPic" >Next</button>
	          </div>
	        	</div>
	    	</div>
	        <!--<div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>-->
	      </div>
	      
	    </div>
	  </div>
{% endblock %}

{% block postscripts%}
	<script type="text/javascript" src="{% static "/foow/js/album.js" %}"></script>
{% endblock %}