{% extends 'foow/newmaster.html' %}
{% load static %}

{% block title %}
	{{ post.blog_title }} {{ post.blog_subtitle }}
{% endblock %}
{% block PageHeading %}
	{{ post.blog_title }}
{% endblock %}
{% block PageSubHeading %}
	{{ post.blog_subtitle }}
{% endblock %}
{% block hiddenlists %}
	{% if next %}
		<span hidden id="nextID">{{next.post_id}}</span>
	{% endif %}
	{% if previous %}
		<span hidden id="previousID">{{previous.post_id}}</span>
	{% endif %}
{% endblock %}

{% block banner %} {% if post.picture %}url('/media/{{ post.picture }}'){% else %}url('{% static "/foow/img/home-bg.jpg" %}'){% endif %}{% endblock %}

{% block content %}
	<p style="font-style:italic">Posted On: {{post.pub_date.date}}</p>
	<div id="contentText" style=" text-align: justify; text-justify: inter-word;">
		{% autoescape off %}
		{{ post.blog_text }}
		{% endautoescape %}
	</div>
{% endblock %}

{% block postscripts %}
    <script src="{% static "/foow/js/detail.js"%}"></script>	
{% endblock %}