{% extends 'foow/master.html' %}
{% load static %}

{% block title %}
	{{ post.blog_title }} {{ post.blog_subtitle }}
{% endblock %}

{% block content %}
	<div class="blog-post" name="{{ post.post_id }}">
		<div class="blog-post-title">
			{{ post.blog_title }}
		</div>
		<h3>{{ post.blog_subtitle }}</h3>
		<p style="font-style: italic">{{ post.pub_date }}</p>
		<div class="blog-description" style="font-size: small">
		{% autoescape off %}
		{{ post.blog_text }}
		{% endautoescape %}
		</div>
	</div>
{% endblock %}

{% block pagerunscripts %}
{% endblock %}