{% extends 'foow/master.html' %}

{% block title %}
	Bearded Fish Out of Water Blog
{% endblock %}

{% block content %}
	{% if posts %}
		{% for post in posts %}
			<div class="blog-post" name="{{ post.post_id }}">
				<div class="blog-post-title">
					{{ post.blog_title }}
				</div>
				<h3>{{ post.blog_subtitle }}</h3>
				<p style="font-style: italic">{{ post.pub_date }}</p>
				<div class="blog-description" style="font-size: small">
				{% autoescape off %}
				{{ post.blog_text }}
				{% endautoescape %}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h3>No Posts Available.</h3>
	{% endif %}
{% endblock %}

{% block pagerunscripts %}
	{% load static %}
    <script type="text/javascript" src="{% static "/foow/js/app.js" %}"></script>
{% endblock %}