{% extends 'foow/newmaster.html' %}
{% load static %}


{% block stylesheets %}
{% endblock %}

{% block hiddenlists %}
	{% if asclist%}
		<ul hidden id="asclist">
			{% for id in asclist%}
			<li name='{{ forloop.counter }}'>{{id}}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if asclist%}
		<ul hidden id="desclist">
			{% for id in desclist%}
			<li name='{{ forloop.counter }}'>{{id}}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block banner %}
	
{% endblock %}

{% block content %}
	{% if posts%}
		{% for post in posts %}
			<div class="post-preview">
                <a href="/post/{{ post.post_id }}">
                    <h2 class="post-title">
                        {{ post.blog_title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.blog_subtitle }}
                    </h3>
                </a>
                <p class="post-meta">{{ post.pub_date.date }}</p>
            </div>
            {% if not forloop.last %}
            <hr />
            {% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}