{% extends 'foow/master.html' %}
	{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<h2>Login to Edit</h2>
<form method="post" action=".?next={{ redirect_to }}">
	{% csrf_token %}
	<div class="form-group">
		<label for="username">User name:</label>
		<input type="text" class="form-control" id="username" name="username"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" name="password"/>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Login</button>
	</div>
</form>
{% endblock %}

{% block pagerunscripts %}
    <script type="text/javascript" src="{% static "/foow/js/detail.js" %}"></script>
{% endblock %}