<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8" />
    <title>{% block title %} 
        {% endblock %}
    </title>
	   {% load static %}
	    <link rel="stylesheet" href="{% static "/foow/css/bootstrap.min.css" %}" type="text/css" />
	    <link rel="stylesheet" href="{% static "/foow/css/bootstrap-theme.min.css" %}" type="text/css" />
	    <link rel="stylesheet" href="{% static "/foow/css/blog.css" %}" type="text/css" />
        {% block stylesheets %}
        {% endblock %}
  </head>
  <body>
    <div class="blog-masthead">
    	<div class="container">
    		<div class="blog-nav">
    			<a class="blog-nav-item active" href="/">Bearded Fish Out of Water Blog</a>
                {% if user.is_anonymous %}
    			<a class="blog-nav-title" href="/">mandb.getmyip.com</a>
                {% else %}
                <li class="blog-nav-title dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">mandb.getmyip.com<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/addcmg/">Add Post</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout/">Logout</a></li>
                  </ul>
                </li>
                {% endif %}
    		</div>
    	</div>
    </div>
    <div class="container">
    	<div class="blog-header">
    		<h1 class="blog-title">Bearded Fish Out of Water</h1>
    		<p class="lead blog-description">Ramblings of a nervous country boy living abroad</p>
    	</div>
    	<div class="row">
            {% block hiddenlists %} 
            {% endblock %}
            <div class="col-sm-8 blog-main" id="mainBlogDiv">
            {% block content %}
            {% endblock %}
            </div>
    		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    			<div class="sidebar-module sidebar-module-inset">
    				{% block sideblock %}
                    {% endblock %}
    			</div>
    		</div>
    	</div>
    </div>


    <script type="text/javascript" src="{% static "/foow/js/jquery-3.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "/foow/js/bootstrap.min.js" %}"></script>
    {% block pagerunscripts %}
    {% endblock %}
  </body>
</html>
