<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8" />
    <title>{% block title %} 
        {% endblock %}
    </title>
	   {% load static %}
	    <link rel="stylesheet" href="{% static "/foow/css/bootstrap.min.css" %}" type="text/css" />
	    <link rel="stylesheet" href="{% static "/foow/css/bootstrap-theme.min.css" %}" type="text/css" />
	    <link rel="stylesheet" href="{% static "/foow/css/blog.css" %}" type="text/css" />
        {% block stylesheets %}
        {% endblock %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "/foow/images/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "/foow/images/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "/foow/images/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "/foow/images/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "/foow/images/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "/foow/images/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "/foow/images/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "/foow/images/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/foow/images/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "/foow/images/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/foow/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "/foow/images/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/foow/images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/foow/images/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "/foow/images/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="blog-masthead">
    	<div class="container">
    		<div class="blog-nav">
    			<a class="blog-nav-item active" href="/">Bearded Fish Out of Water Blog</a>
                {% if user.is_anonymous %}
    			<a class="blog-nav-title" href="/">mandb.getmyip.com</a>
                {% else %}
                <li class="blog-nav-title dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">mandb.getmyip.com<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/addcmg/">Add Post</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout/">Logout</a></li>
                  </ul>
                </li>
                {% endif %}
    		</div>
    	</div>
    </div>
    <div class="container">
    	<div class="blog-header">
    		<h1 class="blog-title">Bearded Fish Out of Water</h1>
    		<p class="lead blog-description">Ramblings of a nervous country boy living abroad</p>
    	</div>
    	<div class="row">
            {% block hiddenlists %} 
            {% endblock %}
            <div class="col-sm-8 blog-main" id="mainBlogDiv">
            {% block content %}
            {% endblock %}
            </div>
    		<div class="col-sm-3 col-sm-offset-1 blog-sidebar" id="masterSideBar">
    			<div class="sidebar-module sidebar-module-inset">
    				{% block sideblock %}
                    {% endblock %}
    			</div>
    		</div>
    	</div>
    </div>


    <script type="text/javascript" src="{% static "/foow/js/jquery-3.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "/foow/js/bootstrap.min.js" %}"></script>
    {% block pagerunscripts %}
    {% endblock %}
  </body>
</html>
